<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User New</title>
</head>

<body>
    <form action="/ninjas/create" method="post">
        <h1>Add Ninjas</h1>
        <p>Dojo: 
            <select name="dojo_id">
                {% for dojos in all_dojos %}
                <option value="{{dojos.id}}">{{dojos.name}}</option>
                {% endfor %}
            </select>
        </p>
        <p>First Name: {{first_name}}
            <input type='text' name="first_name">
        </p>
        <p>Last Name: {{last_name}}
            <input type='text' name="last_name">
        </p>
        <p>Age: {{age}}
            <input type='text' name="age">
        </p>
        <button>Submit</button>
    </form>
    <a href="/dojos">Back to Dojos</a>
</body>
<!-- Substitute name="" values -->
</html>